## Detector probabilidad de pago / Condicion de Deudor y Clasificacion

In [ ]:
import numpy as np

In [10]:
import pandas as pd
import seaborn  as sns
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [11]:
data = pd.read_csv('Default.csv', sep='\t')
data.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [12]:
data.default.value_counts()

No     9667
Yes     333
Name: default, dtype: int64

## - Limpieza y balanceo de Datos

In [13]:
student_dumy= pd.get_dummies(data.student,drop_first=True,prefix="student")
student_dumy.head(3)

   student_Yes
0            0
1            1
2            0

In [15]:
data = pd.concat([data,student_dumy],axis=1)

In [16]:
data.head(5)

  default student      balance        income  student_Yes
0      No      No   729.526495  44361.625074            0
1      No     Yes   817.180407  12106.134700            1
2      No      No  1073.549164  31767.138947            0
3      No      No   529.250605  35704.493935            0
4      No      No   785.655883  38463.495879            0

In [17]:
X=data[['student_Yes','balance','income']]
y=data.default

In [18]:
X_train, X_test, y_train, y_test =train_test_split(X,y,stratify=y,random_state=12)

In [21]:
data.default.value_counts()['Yes']/data.shape[0]

0.0333

In [22]:
y_train.value_counts()['Yes']/y_train.shape[0]

0.03333333333333333

In [23]:
y_test.value_counts()['Yes']/y_test.shape[0]

0.0332

In [24]:
logistic_regression = LogisticRegression(penalty=None)
logistic_regression.fit(X_train,y_train)

LogisticRegression(penalty=None)

In [32]:
A = 40 + 40 + 100 + 100 + 100 + 100 + 100 + 100 + 100 + 100
B = A/10 

print(B)

88.0

### Use Markdown to Scheme the

-Nesting_Week_1 = 20% 
-Nesting_Week_2 = 20%
-Production_Week_1 = 30%
-Production_Week_2 = 30%

-----------------------------

$$ W = \frac {\sum^n_{i=1} {w_i}X_i}{\sum^n_{i=1}w_i}

W = weighted Average

n = number of terms to be averaged

$ w_i $ = weights applied to x Values

$X_i$ data values to be averaged